<div class="img_top"></div>
<section>
  {{#If_order this}}
    <h1>Order Details</h1>
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th></th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {{#each this}}
          <tr data-id="1">
            <td><img src="/images/{{image}}" alt="cart-item"></td>
            <td>{{name}}</td>
            <td>
              <span class="quantity_modifier">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </span>
              <p>{{quantity}}</p>
              <span class="quantity_modifier">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </td>
            <td>${{price}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <p>Total: <span class="total">${{total this}}</span></p>
  {{else}}
    <h1>No item found.</h1>
  {{/If_order}}
  <footer>
    <a href="/">Cancel order</a>
    <form action="/" method="get">
      <input type="submit" value="ORDER NOW!">
    </form>
  </footer>
</section>
<div class="img_bottom"></div>